/*保存启用按钮*/
.save_start_btn{
	background:url(../images/button/btn_save_start.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.save_start_btn:hover{
	background:url(../images/button/btn_save_start_mouseover.png) no-repeat;
}
/*查询按钮*/
.search_btn{
	background:url(../images/button/btn_search.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
	vertical-align:middle; 
}
.search_btn:hover{
	background:url(../images/button/btn_search_mouseover.png) no-repeat;
}
/*详情按钮*/
.show_btn{
	background:url(../images/button/btn_show.png) no-repeat;
	border:0px;
	width:110px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.show_btn:hover{
	background:url(../images/button/btn_show_mouseover.png) no-repeat;
}
/*发布按钮*/
.release_btn{
	background:url(../images/button/btn_release.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.release_btn:hover{
	background:url(../images/button/btn_release_mouseover.png) no-repeat;
}
/*录入结果*/
.insert_btn{
	background:url(../images/button/btn_insert.png) no-repeat;
	border:0px;
	width:110px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.insert_btn:hover{
	background:url(../images/button/btn_insert_mouseover.png) no-repeat;
}
/*修改结果*/
.update_btn{
	background:url(../images/button/btn_update.png) no-repeat;
	border:0px;
	width:110px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.update_btn:hover{
	background:url(../images/button/btn_update_mouseover.png) no-repeat;
}
/*删除结果*/
.delete_btn{
	background:url(../images/button/btn_delete.png) no-repeat;
	border:0px;
	width:110px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.delete_btn:hover{
	background:url(../images/button/btn_delete_mouseover.png) no-repeat;
}
/*批量提交按钮*/
.submit_batch_btn{
	background:url(../images/button/btn_submit_batch.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.submit_batch_btn:hover{
	background:url(../images/button/btn_submit_batch_mouseover.png) no-repeat;
}
/*添加任务按钮*/
.add_task_btn{
	background:url(../images/button/btn_add_task.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.add_task_btn:hover{
	background:url(../images/button/btn_add_task_mouseover.png) no-repeat;
}
/*提交按钮*/
.submit_btn{
	background:url(../images/button/btn_submit.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.submit_btn:hover{
	background:url(../images/button/btn_submit_mouseover.png) no-repeat;
}
/*上报按钮*/
.report_btn{
	background:url(../images/button/btn_report.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.report_btn:hover{
	background:url(../images/button/btn_report_mouseover.png) no-repeat;
}
/*撤销按钮*/
.undo_btn{
	background:url(../images/button/btn_undo.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.undo_btn:hover{
	background:url(../images/button/btn_undo_mouseover.png) no-repeat;
}
/*选择按钮*/
.select_btn{
	background:url(../images/button/btn_select.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.select_btn:hover{
	background:url(../images/button/btn_select_mouseover.png) no-repeat;
}
/*确认按钮*/
.confirm_btn{
	background:url(../images/button/btn_confirm.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.confirm_btn:hover{
	background:url(../images/button/btn_confirm_mouseover.png) no-repeat;
}
/*通过按钮*/
.pass_btn{
	background:url(../images/button/btn_pass.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.pass_btn:hover{
	background:url(../images/button/btn_pass_mouseover.png) no-repeat;
}
/*退回按钮*/
.back_btn{
	background:url(../images/button/btn_back.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.back_btn:hover{
	background:url(../images/button/btn_back_mouseover.png) no-repeat;
}
/*屏蔽交按钮*/
.shield_btn{
	background:url(../images/button/btn_shield.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.shield_btn:hover{
	background:url(../images/button/btn_shield_mouseover.png) no-repeat;
}
/*取消屏蔽交按钮*/
.noshield_btn{
	background:url(../images/button/btn_noshield.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.noshield_btn:hover{
	background:url(../images/button/btn_noshield_mouseover.png) no-repeat;
}
/*返回交按钮*/
.close_btn{
	background:url(../images/button/btn_close.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.close_btn:hover{
	background:url(../images/button/btn_close_mouseover.png) no-repeat;
}
/*添加按钮*/
.add_btn{
	background:url(../images/button/btn_add.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
/*添加按钮*/
.kaoq_btn{
	background:url(../images/button/btn_kaoq.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
/*添加按钮*/
.zhig_btn{
	background:url(../images/button/btn_zhig.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.add_btn:hover{
	background:url(../images/button/btn_add_mouseover.png) no-repeat;
}
/*编辑按钮*/
.edit_btn{
	background:url(../images/button/btn_edit.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.edit_btn:hover{
	background:url(../images/button/btn_edit_mouseover.png) no-repeat;
}
/*删除按钮*/
.move_btn{
	background:url(../images/button/btn_remove.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.move_btn:hover{
	background:url(../images/button/btn_remove_mouseover.png) no-repeat;
}
/*保存按钮*/
.save_btn{
	background:url(../images/button/btn_save.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.save_btn:hover{
	background:url(../images/button/btn_save_mouseover.png) no-repeat;
}
/*查看*/
.view_btn{
	background:url(../images/button/btn_view.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.view_btn:hover{
	background:url(../images/button/btn_view_mouseover.png) no-repeat;
}
/*启用*/
.start_btn{
	background:url(../images/button/btn_start.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.start_btn:hover{
	background:url(../images/button/btn_start_mouseover.png) no-repeat;
}
/*停用*/
.stop_btn{
	background:url(../images/button/btn_stop.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.stop_btn:hover{
	background:url(../images/button/btn_stop_mouseover.png) no-repeat;
}
/*返回按钮*/
.return_btn{
	background:url(../images/button/btn_close.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
}
.return_btn:hover{
	background:url(../images/button/btn_close_mouseover.png) no-repeat;
}
/*返回列表按钮*/
.returnlist_btn{
	background:url(../images/button/btn_close.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
}
.returnlist_btn:hover{
	background:url(../images/button/btn_close_mouseover.png) no-repeat;
}
/*关闭按钮*/
.close2_btn{
	background:url(../images/button/btn_close2.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
}
.close2_btn:hover{
	background:url(../images/button/btn_close2_mouseover.png) no-repeat;
}
/*上一步按钮*/
.prev_btn{
	background:url(../images/button/btn_prev.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:26px;
	border-radius:5px;
}
.prev_btn:hover{
	background:url(../images/button/btn_prev_mouseover.png) no-repeat;
}

/*下一步按钮*/
.next_btn{
	background:url(../images/button/btn_next.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:28px;
	border-radius:5px;
}
.next_btn:hover{
	background:url(../images/button/btn_next_mouseover.png) no-repeat;
}
.next_btn_disabled{
	background:url(../images/button/btn_next_disabled.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	color:#fff;
	padding-left:28px;
	border-radius:5px;
}
/*试运行*/
.run_btn{
	background:url(../images/button/btn_run.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:28px;
	border-radius:5px;
}
.run_btn:hover{
	background:url(../images/button/btn_run_mouseover.png) no-repeat;
}
/*查看运行结果*/
.result_btn{
	background:url(../images/button/btn_result.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:36px;
	border-radius:5px;
}
.result_btn:hover{
	background:url(../images/button/btn_result_mouseover.png) no-repeat;
}
/*一字*/
.one_btn{
	background:url(../images/button/button_all.png);
	border:0px;
	width:60px;
	height:30px;
	cursor: pointer;
	color:#fff;
	text-align:center;
}
.one_btn:hover{
	background:url(../images/button/button_all_mouseover.png);
	font-weight:blod;
}
/*两字*/
.two_btn{
	background:url(../images/button/button_all.png);
	border:0px;
	width:60px;
	height:30px;
	cursor: pointer;
	color:#fff;
	text-align:center;
	border-radius:5px;
}
.two_btn:hover{
	background:url(../images/button/button_all_mouseover.png);
	font-weight:blod;
}
/*点选*/
.point_btn{
	background:url(../images/button/button_point.png);
	border:0px;
	width:60px;
	height:30px;
	cursor: pointer;
	color:#fff;
	text-align:center;
}
.point_btn_clk{
	background:url(../images/button/button_point_mouseover.png);
	border:0px;
	width:60px;
	height:30px;
	cursor: pointer;
	color:#fff;
	text-align:center;
}

/*框选*/
.box_btn{
	background:url(../images/button/button_box.png);
	border:0px;
	width:60px;
	height:30px;
	cursor: pointer;
	color:#fff;
	text-align:center;
}
.box_btn_clk{
	background:url(../images/button/button_box_mouseover.png);
	border:0px;
	width:60px;
	height:30px;
	cursor: pointer;
	color:#fff;
	text-align:center;
}
.box_btn:hover{
	background:url(../images/button/button_box_mouseover.png);
	font-weight:blod;
}
/*圈选*/
.circle_btn{
	background:url(../images/button/button_circle.png);
	border:0px;
	width:60px;
	height:30px;
	cursor: pointer;
	color:#fff;
	text-align:center;
}
.circle_btn_clk{
	background:url(../images/button/button_circle_mouseover.png);
	border:0px;
	width:60px;
	height:30px;
	cursor: pointer;
	color:#fff;
	text-align:center;
}
.circle_btn:hover{
	background:url(../images/button/button_circle_mouseover.png);
	font-weight:blod;
}
/*四 字*/
.four_btn{
	background:url(../images/button/button_all.png);
	border:0px;
	width:90px;
	height:30px;
	cursor: pointer;
	color:#fff;
	text-align:center;
	border-radius:5px;
}
.four_btn:hover{
	background:url(../images/button/button_all_mouseover.png);
	font-weight:blod;
}
/*more*/
.more_btn{
	background:url(../images/button/button_all.png);
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	text-align:center;
}
.more_btn:hover{
	background:url(../images/button/button_all_mouseover.png);
	font-weight:blod;
}
/*高级设置按钮*/
.set_btn{
	background:url(../images/button/btn_set.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:36px;
	border-radius:5px;
}
.set_btn:hover{
	background:url(../images/button/btn_set_mouseover.png) no-repeat;
}
/*调度设置按钮*/
.ddset_btn{
	background:url(../images/button/btn_ddset.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:36px;
	border-radius:5px;
}
.ddset_btn:hover{
	background:url(../images/button/btn_ddset_mouseover.png) no-repeat;
}
/*取消调度设置按钮*/
.clearset_btn{
	background:url(../images/button/btn_clear.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:36px;
	border-radius:5px;
}
.clearset_btn:hover{
	background:url(../images/button/btn_clear_mouseover.png) no-repeat;
}
/*立即运行*/
.runnow_btn{
	background:url(../images/button/btn_runnow.png) no-repeat;
	border:0px;
	width:100px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:36px;
	border-radius:5px;
}
.runnow_btn:hover{
	background:url(../images/button/btn_runnow_mouseover.png) no-repeat;
}
/*添加指标*/
.excel_btn{
	background:url(../images/button/btn_dc.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:20px;
	border-radius:5px;
}
.excel_btn:hover{
	background:url(../images/button/btn_dc_mouseover.png) no-repeat;
}
.pdf_btn{
	background:url(../images/button/btn_pdf.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:20px;
	border-radius:5px;
}
.valign_middle {
	vertical-align:middle; 
}

.sx_btn{
	background:url(../images/button/btn_sx.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:20px;
	border-radius:5px;
}
.sx_btn:hover{
	background:url(../images/button/btn_sx_mouseover.png) no-repeat;
}
.dr_btn{
	background:url(../images/button/btn_dr.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:20px;
	border-radius:5px;
}
.dr_btn:hover{
	background:url(../images/button/btn_dr_mouseover.png) no-repeat;
}
/*复制新建*/
.copy_new_btn{
	background:url(../images/button/btn_copy_new.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:36px;
	border-radius:5px;
}
.copy_new_btn:hover{
	background:url(../images/button/btn_copy_new_mouseover.png) no-repeat;
}
/*添加指标*/
.add_target_btn{
	background:url(../images/button/btn_add_target.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:36px;
	border-radius:5px;
}
.add_target_btn:hover{
	background:url(../images/button/btn_add_target_mouseover.png) no-repeat;
}
/*删除指标*/
.remove_target_btn{
	background:url(../images/button/btn_delete_target.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:36px;
	border-radius:5px;
}
.remove_target_btn:hover{
	background:url(../images/button/btn_delete_target_mouseover.png) no-repeat;
}

/*组合计算*/
.btn_calcul{
	background:url(../images/button/btn_calcul.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:36px;
	border-radius:5px;
}
.btn_calcul:hover{
	background:url(../images/button/btn_calcul_mouseover.png) no-repeat;
}
/*纳入任务池*/
.btn_inpool{
	background:url(../images/button/btn_inpool.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:36px;
	border-radius:5px;
}
.btn_inpool:hover{
	background:url(../images/button/btn_inpool_mouseover.png) no-repeat;
}
/*纳入网格*/
.btn_ingrid{
	background:url(../images/button/btn_ingrid.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:36px;
	border-radius:5px;
}
.btn_ingrid:hover{
	background:url(../images/button/btn_ingrid_mouseover.png) no-repeat;
}
/*生成按钮*/
.create_btn{
	background:url(../images/button/btn_create.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
}
.create_btn:hover{
	background:url(../images/button/btn_create_mouseover.png) no-repeat;
}

/*轨迹按钮*/
.jaret_btn{
	background:url(../images/button/btn_jaret.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
}
.jaret_btn:hover{
	background:url(../images/button/btn_jaret_mouseover.png) no-repeat;
}
/*填报按钮*/
.fill_btn{
	background:url(../images/button/btn_fill.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
}
.fill_btn:hover{
	background:url(../images/button/btn_fill_mouseover.png) no-repeat;
}
/*开始编辑*/
.begin_edit_btn{
	background:url(../images/button/btn_begin_edit.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:36px;
	border-radius:5px;
}
.begin_edit_btn:hover{
	background:url(../images/button/btn_begin_edit_mouseover.png) no-repeat;
}
/*结束编辑*/
.end_edit_btn{
	background:url(../images/button/btn_end_edit.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:36px;
	border-radius:5px;
}
.end_edit_btn:hover{
	background:url(../images/button/btn_end_edit_mouseover.png) no-repeat;
}
/*清除网格*/
.clear_grid_btn{
	background:url(../images/button/btn_clear_grid.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:36px;
	border-radius:5px;
}
.clear_grid_btn:hover{
	background:url(../images/button/btn_clear_grid_mouseover.png) no-repeat;
}
/*移出网格*/
.move_grid_btn{
	background:url(../images/button/btn_move_grid.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:36px;
	border-radius:5px;
}
.move_grid_btn:hover{
	background:url(../images/button/btn_move_grid_mouseover.png) no-repeat;
}
/*不处理按钮*/
.nodeal_btn{
	background:url(../images/button/btn_nodeal.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.nodeal_btn:hover{
	background:url(../images/button/btn_nodeal_mouseover.png) no-repeat;
}
/*打印*/
.print_btn{
	background:url(../images/button/btn_print.png) no-repeat;
	border:0px;
	width:90px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.print_btn:hover{
	background:url(../images/button/btn_print_mouseover.png) no-repeat;
}
/*添加计划内任务*/
.planin_btn{
	background:url(../images/button/btn_planin.png) no-repeat;
	border:0px;
	width:150px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.planin_btn:hover{
	background:url(../images/button/btn_planin_mouseover.png) no-repeat;
}
/*添加临时任务*/
.add_temp_task{
	background:url(../images/button/btn_add_temp_task.png) no-repeat;
	border:0px;
	width:150px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.add_temp_task:hover{
	background:url(../images/button/btn_add_temp_task_mouseover.png) no-repeat;
}
/*添加走访零售户*/
.add_client{
	background:url(../images/button/btn_add_client.png) no-repeat;
	border:0px;
	width:150px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.add_client:hover{
	background:url(../images/button/btn_add_client_mouseover.png) no-repeat;
}
/*添加无证户*/
.add_nocard{
	background:url(../images/button/btn_add_no_card.png) no-repeat;
	border:0px;
	width:150px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.add_nocard:hover{
	background:url(../images/button/btn_add_no_card_mouseover.png) no-repeat;
}
/*添加计划外任务*/
.planout_btn{
	background:url(../images/button/btn_planout.png) no-repeat;
	border:0px;
	width:150px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.planout_btn:hover{
	background:url(../images/button/btn_planout_mouseover.png) no-repeat;
}
/*下载模板按钮*/
.download_btn{
	background:url(../images/button/btn_download.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.download_btn:hover{
	background:url(../images/button/btn_download_mouseover.png) no-repeat;
}
/*导入按钮*/
.import_btn{
	background:url(../images/button/btn_import.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.import_btn:hover{
	background:url(../images/button/btn_import_mouseover.png) no-repeat;
}
.btn_customer_sort{
	background:url(../images/button/btn_customer_sort.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.btn_customer_sort:hover{
	background:url(../images/button/btn_customer_sort_mouseover.png) no-repeat;
}
.btn_checkInput{
	background:url(../images/button/btn_checkInput.png) no-repeat;
	border:0px;
	width:74px;
	height:24px;
	cursor: pointer;
	border-radius:5px;
}
.btn_checkInput:hover{
	background:url(../images/button/btn_checkInput_mouseover.png) no-repeat;
}
.btn_checkResult{
	background:url(../images/button/btn_checkResult.png) no-repeat;
	border:0px;
	width:74px;
	height:24px;
	cursor: pointer;
	border-radius:5px;
}
.btn_checkResult:hover{
	background:url(../images/button/btn_checkResult_mouseover.png) no-repeat;
}
.btn_easyui_blue{
	background-color:#E8F1FF;
	border:1px solid #95B8E7;
	font-weight:normal;
	color:#0E2D5F;
	cursor: pointer;
	border-radius:5px;
}


/**随机抽查任务发布*/
.random_1_btn{
	background:url(../images/button/random_1_btn.png) no-repeat;
	border:0px;
	width:164px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.random_1_btn:hover{
	background:url(../images/button/random_1_btn_hover.png) no-repeat;
}
.random_2_btn{
	background:url(../images/button/random_2_btn.png) no-repeat;
	border:0px;
	width:136px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.random_2_btn:hover{
	background:url(../images/button/random_2_btn_hover.png) no-repeat;
}
.random_3_btn{
	background:url(../images/button/random_3_btn.png) no-repeat;
	border:0px;
	width:80px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.random_3_btn:hover{
	background:url(../images/button/random_3_btn_hover.png) no-repeat;
}
.random_4_btn{
	background:url(../images/button/random_4_btn.png) no-repeat;
	border:0px;
	width:168px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.random_4_btn:hover{
	background:url(../images/button/random_4_btn_hover.png) no-repeat;
}
/*查询无证户按钮*/
.query_btn{
	background:url(../images/button/qry_unlic.png) no-repeat;
	border:0px;
	width:120px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
	vertical-align:middle;
}
.query_btn:hover{
	background:url(../images/button/qry_unlic_mouseover.png) no-repeat;
}
/*查询无证户按钮*/
.addweekplan_btn{
	background:url(../images/button/btn_addweekplan.png) no-repeat;
	border:0px;
	width:149px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.addweekplan_btn:hover{
	background:url(../images/button/btn_addweekplan_mouseover.png) no-repeat;
}
/*查询无证户按钮*/
.deletecheckcust_btn{
	background:url(../images/button/btn_deletecheckcust.png) no-repeat;
	border:0px;
	width:149px;
	height:40px;
	cursor: pointer;
	color:#fff;
	padding-left:40px;
	border-radius:5px;
}
.deletecheckcust_btn:hover{
	background:url(../images/button/btn_deletecheckcust_mouseover.png) no-repeat;
}
.idiom {
    margin-left: 10px;
    display: inline-block;
}
